---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/anipos/sparrow/commits/238947c2440028cfff5388c7fba3aa4ca7ae92f5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"09abe119cc99b089b3a859f206acf97f4a68f27708098b91722ae50a2ce1e211"
      Last-Modified:
      - Tue, 16 Jun 2020 02:06:26 GMT
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, admin:ssh_signing_key, codespace, delete:packages, delete_repo,
        gist, notifications, project, repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2023-01-11 01:42:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4962'
      X-Ratelimit-Reset:
      - '1667661115'
      X-Ratelimit-Used:
      - '38'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"sha":"238947c2440028cfff5388c7fba3aa4ca7ae92f5","node_id":"MDY6Q29tbWl0NTYwNjgxNjA1OjIzODk0N2MyNDQwMDI4Y2ZmZjUzODhjN2ZiYTNhYTRjYTdhZTkyZjU=","commit":{"author":{"name":"Shouichi
        Kamiya","email":"shouichi.kamiya@gmail.com","date":"2020-06-16T02:06:26Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2020-06-16T02:06:26Z"},"message":"Enable
        newly added rubocop lints (#25)","tree":{"sha":"ca38215b582380b4913764ba3903fe4e02968ad1","url":"https://api.github.com/repos/anipos/sparrow/git/trees/ca38215b582380b4913764ba3903fe4e02968ad1"},"url":"https://api.github.com/repos/anipos/sparrow/git/commits/238947c2440028cfff5388c7fba3aa4ca7ae92f5","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJe6CkiCRBK7hj4Ov3rIwAAdHIIAKw/s3iDyrLgQdK6hlnJLUqV\nJGtRAumlCXXM1wEzDmpesT2aj1PuwrqxZ0derwXjO8gkWW3hGT4wyv1eRY603rUk\nxuRpapFx2txAyx0X1nqiCHMODNOxPmxnUXMFflIm4wxsaguzI7255SiF0zkcBgHq\n3xYiUDtRQE+FLcV49aE/POYuVLkH8sFOgZCrM89XfoIamqQxYasSCp9BWnYtis/B\nfVMYv8At0jHcmoX1TKiAhSnck3CE5ERhFFz951xqk/vc4nzopmr6s4HxTvpFIedy\n+uTflgodyIK40gHRTTovd8RN4WkUnWiY9nSS3R7PzVNutY1KG79GUN1vodetfJk=\n=rxip\n-----END
        PGP SIGNATURE-----\n","payload":"tree ca38215b582380b4913764ba3903fe4e02968ad1\nparent
        9d06088481fdd645db1eef3d0f0e783ffabe0074\nauthor Shouichi Kamiya <shouichi.kamiya@gmail.com>
        1592273186 +0900\ncommitter GitHub <noreply@github.com> 1592273186 +0000\n\nEnable
        newly added rubocop lints (#25)\n\n"}},"url":"https://api.github.com/repos/anipos/sparrow/commits/238947c2440028cfff5388c7fba3aa4ca7ae92f5","html_url":"https://github.com/anipos/sparrow/commit/238947c2440028cfff5388c7fba3aa4ca7ae92f5","comments_url":"https://api.github.com/repos/anipos/sparrow/commits/238947c2440028cfff5388c7fba3aa4ca7ae92f5/comments","author":{"login":"shouichi","id":99586,"node_id":"MDQ6VXNlcjk5NTg2","avatar_url":"https://avatars.githubusercontent.com/u/99586?v=4","gravatar_id":"","url":"https://api.github.com/users/shouichi","html_url":"https://github.com/shouichi","followers_url":"https://api.github.com/users/shouichi/followers","following_url":"https://api.github.com/users/shouichi/following{/other_user}","gists_url":"https://api.github.com/users/shouichi/gists{/gist_id}","starred_url":"https://api.github.com/users/shouichi/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/shouichi/subscriptions","organizations_url":"https://api.github.com/users/shouichi/orgs","repos_url":"https://api.github.com/users/shouichi/repos","events_url":"https://api.github.com/users/shouichi/events{/privacy}","received_events_url":"https://api.github.com/users/shouichi/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"9d06088481fdd645db1eef3d0f0e783ffabe0074","url":"https://api.github.com/repos/anipos/sparrow/commits/9d06088481fdd645db1eef3d0f0e783ffabe0074","html_url":"https://github.com/anipos/sparrow/commit/9d06088481fdd645db1eef3d0f0e783ffabe0074"}],"stats":{"total":24,"additions":24,"deletions":0},"files":[{"sha":"fd3fb0de8164a75ef345d112d4780777ca1a3832","filename":".rubocop.yml","status":"modified","additions":24,"deletions":0,"changes":24,"blob_url":"https://github.com/anipos/sparrow/blob/238947c2440028cfff5388c7fba3aa4ca7ae92f5/.rubocop.yml","raw_url":"https://github.com/anipos/sparrow/raw/238947c2440028cfff5388c7fba3aa4ca7ae92f5/.rubocop.yml","contents_url":"https://api.github.com/repos/anipos/sparrow/contents/.rubocop.yml?ref=238947c2440028cfff5388c7fba3aa4ca7ae92f5","patch":"@@
        -16,6 +16,18 @@ Layout/MultilineMethodCallIndentation:\n Layout/MultilineOperationIndentation:\n   EnforcedStyle:
        indented\n \n+Layout/EmptyLinesAroundAttributeAccessor:\n+  Enabled: true\n+\n+Layout/SpaceAroundMethodCallOperator:\n+  Enabled:
        true\n+\n+Lint/DeprecatedOpenSSLConstant:\n+  Enabled: true\n+\n+Lint/MixedRegexpCaptureTypes:\n+  Enabled:
        true\n+\n RSpec/ExampleLength:\n   Enabled: false\n \n@@ -45,3 +57,15 @@ Lint/StructNewOverride:\n
        \n Style/TrailingCommaInArrayLiteral:\n   EnforcedStyleForMultiline: comma\n+\n+Style/ExponentialNotation:\n+  Enabled:
        true\n+\n+Style/RedundantRegexpCharacterClass:\n+  Enabled: true\n+\n+Style/RedundantRegexpEscape:\n+  Enabled:
        true\n+\n+Style/SlicingWithRange:\n+  Enabled: true"}]}'
  recorded_at: Sat, 05 Nov 2022 14:33:42 GMT
- request:
    method: get
    uri: https://api.github.com/repos/anipos/sparrow/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"25b374181f2111ce429d9e9bc143cb63a9c84e48d972e8cf62bcea74fb334e52"
      X-Oauth-Scopes:
      [...]
- request:
    method: get
    uri: https://api.github.com/repos/anipos/sparrow/contents/spec/fixtures/git_ops/template.erb?ref=04d3d13760036b4784d3ea4bcb58c358fe0e204e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4525027e3d9fcb59367bf84ba971513514ce15cf"
      Last-Modified:
      - Fri, 04 Nov 2022 02:16:18 GMT
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, admin:ssh_signing_key, codespace, delete:packages, delete_repo,
        gist, notifications, project, repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2023-01-11 01:42:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4960'
      X-Ratelimit-Reset:
      - '1667661115'
      X-Ratelimit-Used:
      - '40'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"name":"template.erb","path":"spec/fixtures/git_ops/template.erb","sha":"4525027e3d9fcb59367bf84ba971513514ce15cf","size":11,"url":"https://api.github.com/repos/anipos/sparrow/contents/spec/fixtures/git_ops/template.erb?ref=04d3d13760036b4784d3ea4bcb58c358fe0e204e","html_url":"https://github.com/anipos/sparrow/blob/04d3d13760036b4784d3ea4bcb58c358fe0e204e/spec/fixtures/git_ops/template.erb","git_url":"https://api.github.com/repos/anipos/sparrow/git/blobs/4525027e3d9fcb59367bf84ba971513514ce15cf","download_url":"https://raw.githubusercontent.com/anipos/sparrow/04d3d13760036b4784d3ea4bcb58c358fe0e204e/spec/fixtures/git_ops/template.erb","type":"file","content":"PCU9IHRhZyAlPgo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/anipos/sparrow/contents/spec/fixtures/git_ops/template.erb?ref=04d3d13760036b4784d3ea4bcb58c358fe0e204e","git":"https://api.github.com/repos/anipos/sparrow/git/blobs/4525027e3d9fcb59367bf84ba971513514ce15cf","html":"https://github.com/anipos/sparrow/blob/04d3d13760036b4784d3ea4bcb58c358fe0e204e/spec/fixtures/git_ops/template.erb"}}'
  recorded_at: Sat, 05 Nov 2022 14:33:42 GMT
- request:
    method: post
    uri: https://api.github.com/repos/anipos/sparrow/git/blobs
    body:
      encoding: UTF-8
      string: '{"content":"238947c2440028cfff5388c7fba3aa4ca7ae92f5\n","encoding":"utf-8"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"219b9099e37c4bb2a4d2ded24df2729b0d6fc88ddbcff577cd6106e1f3b9582e"'
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, admin:ssh_signing_key, codespace, delete:packages, delete_repo,
        gist, notifications, project, repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2023-01-11 01:42:44 UTC
      Location:
      - https://api.github.com/repos/anipos/sparrow/git/blobs/b9d5b68a28a6f0bdac6c2479c47781d9eb209d59
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4959'
      X-Ratelimit-Reset:
      - '1667661115'
      X-Ratelimit-Used:
      - '41'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"sha":"b9d5b68a28a6f0bdac6c2479c47781d9eb209d59","url":"https://api.github.com/repos/anipos/sparrow/git/blobs/b9d5b68a28a6f0bdac6c2479c47781d9eb209d59"}'
  recorded_at: Sat, 05 Nov 2022 14:33:43 GMT
- request:
    method: post
    uri: https://api.github.com/repos/anipos/sparrow/git/trees
    body:
      encoding: UTF-8
      string: '{"base_tree":"04d3d13760036b4784d3ea4bcb58c358fe0e204e","tree":[{"path":"spec/fixtures/git_ops/rewritten","mode":"100644","type":"blob","sha":"b9d5b68a28a6f0bdac6c2479c47781d9eb209d59"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"356bd015637cd8396403c7f7b715fbed7faf245b3aa0d41d048436109b7a662f"'
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin[...]
- request:
    method: post
    uri: https://api.github.com/repos/anipos/sparrow/git/commits
    body:
      encoding: UTF-8
      string: '{"message":"Update tag to 238947c2440028cfff5388c7fba3aa4ca7ae92f5\n\n>
        Enable newly added rubocop lints (#25)\n\nhttps://github.com/anipos/sparrow/commit/238947c2440028cfff5388c7fba3aa4ca7ae92f5\n\n","tree":"490519101d702923871cb4bf70c6341977be1a46","parents":["04d3d13760036b4784d3ea4bcb58c358fe0e204e"]}'
    headers:
      Content-Type:
      - app[...]
- request:
    method: get
    uri: https://api.github.com/repos/anipos/sparrow/compare/master...4868350d494843b02265ab150a1becd2082a9b9f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7155c47fce25cc766472671e429372ff147b9dc2931cf990ae8d[...]
- request:
    method: patch
    uri: https://api.github.com/repos/anipos/sparrow/git/refs/heads/master
    body:
      encoding: UTF-8
      string: '{"sha":"4868350d494843b02265ab150a1becd2082a9b9f","force":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9682038ced9d3dc53a79f682b12e922bcfdc438d87a889012d8b8385c13b49e1"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, admin:ssh_signing_key, codespace, delete:packages, delete_repo,
        gist, notifications, project, repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2023-01-11 01:42:44 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4955'
      X-Ratelimit-Reset:
      - '1667661115'
      X-Ratelimit-Used:
      - '45'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"ref":"refs/heads/master","node_id":"REF_kwDOIWtShbFyZWZzL2hlYWRzL21hc3Rlcg","url":"https://api.github.com/repos/anipos/sparrow/git/refs/heads/master","object":{"sha":"4868350d494843b02265ab150a1becd2082a9b9f","type":"commit","url":"https://api.github.com/repos/anipos/sparrow/git/commits/4868350d494843b02265ab150a1becd2082a9b9f"}}'
  recorded_at: Sat, 05 Nov 2022 14:33:44 GMT
recorded_with: VCR 6.1.0
